<div *ngIf="lecture">
  <div class="row">
    <div class="col s2">
      <button mz-button [flat]="'true'" (click)="navigateBack()">Back</button>
    </div>
    <div class="col s10">
      <h4 id="broadcast-header" class="left-align">{{lecture.fileName}}, session: {{sessionCode}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <button mz-button [disabled]="isPreviousDisabled()" (click)="previousSlide()"><i class="fa fa-arrow-left"></i></button>
    </div>
    <div class="col s2 offset-s8">
      <button mz-button [disabled]="isNextDisabled()" (click)="nextSlide()"><i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
  <div *ngIf="slides; else spinner">
    <div class="row">
      <div *ngIf="slides[currentIndex].quizType; else fullScreen">
        <div class="col s6">
          <img class="responsive-img z-depth-3" [src]="getSrc(slides[currentIndex].image)">
        </div>
        <div class="col s6">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <broadcast-chart *ngIf="liveAnswers" [liveAnswers]="liveAnswers" [options]="options"></broadcast-chart>
              </div>
              <div class="row">
                <p><i class="fa fa-eye"></i> Select the correct answer and display it to students</p>
                <div class="col s2" *ngFor="let option of labelOptions">
                  <a href="javascript:void(0)" id="{{option}}" class="waves-effect waves-light btn blue" (click)="choose(option)">{{option}}</a>
                </div>
              </div>
              <div class="row">
                <a href="javascript:void(0)" class="waves-effect waves-light btn" id="btn-submit" (click)="submit()">Submit</a>
              </div>
              <div class="row">
                <p><i class="fa fa-redo"></i> Or ask students to answer again</p>
                <p><button mz-button [flat]="'true'" (click)="askAgain()">Retry</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #fullScreen>
        <div class="col s8 offset-s2">
          <img class="responsive-img z-depth-3" [src]="getSrc(slides[currentIndex].image)">
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #spinner>
    <p>
      <mz-spinner></mz-spinner>
    </p>
  </ng-template>
</div>
