<app-navbar [isDashboard]="true"></app-navbar>
<div class="container">
  <div *ngIf="lectureBroadcasted; else editPanel">
    <app-broadcast [(lecture)]="lectureBroadcasted"></app-broadcast>
  </div>
  <ng-template #editPanel>
    <div *ngIf="lectureEdited; else reportsPanel">
      <app-edit [(lecture)]="lectureEdited"></app-edit>
    </div>
  </ng-template>
  <ng-template #reportsPanel>
    <div *ngIf="lectureReported; else lecturesList">
      <app-report [(lecture)]="lectureReported"></app-report>
    </div>
  </ng-template>
  <ng-template #lecturesList>
    <div *ngIf="lecturer" class="row">
      <h4>Hello, {{lecturer.name}}! Your lectures:</h4>
    </div>
    <div *ngIf="uploader?.queue?.length == 0; else spinnerLecturesList">
      <div class="row">
        <div *ngFor="let lecture of lectures" class="col l3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/assets/images/pdf.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{lecture.fileName}}<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
              <a href="javascript:void(0)" (click)="edit(lecture)">Edit</a>
              <a href="javascript:void(0)" (click)="broadcast(lecture)">Broadcast</a>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{lecture.fileName}}<i class="material-icons right">close</i></span>
              <button mz-button mz-tooltip [tooltip]="'Delete this lecture'" [flat]="'true'" (click)="remove(lecture)"><i class="material-icons">delete</i></button>
              <button mz-button mz-tooltip [tooltip]="'Sessions history'" [flat]="'true'" (click)="openReports(lecture)"><i class="material-icons">history</i></button>
              <button mz-button mz-tooltip [tooltip]="'Download original presentation'" [flat]="'true'" (click)="download(lecture)"><i class="material-icons">file_download</i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #spinnerLecturesList>
      <p>
        <mz-spinner></mz-spinner>
      </p>
    </ng-template>

    <!-- Fixed action button -->
    <div class="fixed-action-btn">
      <div class="file-field input-field">
        <div id="btn-upload" class="btn-floating btn-large waves-effect waves-light">
          <i class="large material-icons">add</i>
          <input type="file" ng2FileSelect [uploader]="uploader" accept="application/pdf" />
        </div>
      </div>
    </div>
    <!-- Button's feature discovery tooltip -->
    <div class="tap-target" data-activates="btn-upload">
      <div class="tap-target-content">
        <h5>Upload your PDF slides</h5>
        <p>You can upload your slides by clicking the action button, or dragging and dropping your file anywhere on the screen :)</p>
      </div>
    </div>
  </ng-template>
</div>
