<div *ngIf="lecture">
  <button mz-button [flat]="'true'" (click)="navigateBack()">Back</button>
  <button mz-button (click)="save()">Save</button>

  <div *ngIf="slides; else slidesSpinner">
    <ul class="collection">
      <li *ngFor="let slide of slides; let i = index" [attr.data-index]="i" class="collection-item">
        <div class="row">
          <div class="col s6">
            <img class="responsive-img" [src]="getSrc(slide.image)">
          </div>
          <div class="col s6">
            <div class="center-align">
              <h5>Slide {{slide.slideNumber}}</h5>
              <mz-radio-button-container>
                <input mz-radio-button [label]="'Not a quiz'" [(ngModel)]="slides[i].quizType" [value]="null" id="null-{{i}}" name="group-{{i}}" type="radio"><br>
                <input mz-radio-button [label]="'Make true/false quiz'" [(ngModel)]="slides[i].quizType" [value]="'truefalse'" [disabled]="!isEligibleTrueFalse(slide)" id="truefalse-{{i}}" name="group-{{i}}" type="radio"><br>
                <input mz-radio-button [label]="'Make single choice quiz'" [(ngModel)]="slides[i].quizType" [value]="'single'" [disabled]="!isEligibleSingle(slide)" id="single-{{i}}" name="group-{{i}}" type="radio"><br>
                <input mz-radio-button [label]="'Make milti choice quiz'" [(ngModel)]="slides[i].quizType" [value]="'multi'" [disabled]="!isEligibleMulti(slide)" id="multi-{{i}}" name="group-{{i}}" type="radio">
              </mz-radio-button-container>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #slidesSpinner>
    <p>
      <mz-spinner></mz-spinner>
    </p>
  </ng-template>
</div>
