<div *ngIf="lecture">
  <button mz-button [flat]="'true'" (click)="navigateBack()">Back</button>
  <button mz-button (click)="save()">Save</button>

  <div *ngIf="slides; else slidesSpinner">
    <ul class="collection">
      <li *ngFor="let slide of slides; let i = index" [attr.data-index]="i" class="collection-item">
        <div class="row">
          <div class="col s6">
            <img class="responsive-img" [src]="getSrc(slide.image)">
          </div>
          <div class="col s6">
            <div class="center-align">
              <h5>Slide {{slide.slideNumber}}</h5>
              <!-- <mz-checkbox-container>
                <input mz-checkbox [label]="'Make quiz'" id="{{i}}" type="checkbox" [(ngModel)]="slides[i].isQuiz" [disabled]="!isEligible(slide)" />
              </mz-checkbox-container> -->
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #slidesSpinner>
    <p>
      <mz-spinner></mz-spinner>
    </p>
  </ng-template>
</div>
